*{
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    margin-top: 0;
    width: 500%;
    background-color: rgb(11, 11, 80);
}
.menu{
    padding-top: 0;
    background-color: rgb(11, 11, 80);
    padding: 15px;
    width: 150%;
    padding-bottom: 2px;
}
.menu ul li{
    list-style: none;
    margin-left: 15px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding:10px;
    transition: all 0.3s linear;
}
.menu ul{
    display: flex;
    background-color: rgb(11, 11, 80);
    padding: 20px;
}
.menu ul li a:hover{
    background-color: black;
    padding:8px;
    border-radius: 3px;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 80%;
}

th, td{
	padding: 10px;
}

thead{
	background-color: black;
	border-bottom: solid 5px purple;
	color: white;

}

tr:nth-child(even){
	background-color: #ddd;
}

section{
    padding-top: 6rem;
}
button{
    background-color: rgb(12, 12, 73);
    color: white;
    padding:10px;
    border: none;
    border-radius: 15px;
    transition: all 0.2s linear;
}
button:hover{
    background-color: black;
    padding: 8px;
    border-radius: 0px;
}
.red:hover{
    background-color: rgb(155, 21, 21);
}
.yellow:hover{
    background-color: rgb(207, 209, 71);
}
.green:hover{
    background-color: rgb(99, 201, 99);
}